# This is just a sample for testing purposes.
# Please provide your own config for your server(s)!

server:
  interface: 0.0.0.0
  interface: ::0

# You have access to the unbound variable:
# winner of the merge: {{ unbound.winner }}
#
# {{ unbound | json }}
